@use '../styles/variables' as var;
@use '../styles/breakpoints' as bp;

.Phonetics {
	padding-bottom: 2rem;
	.phonetic {
		display: flex;
		flex-direction: column;
		margin: 0;
		row-gap: 2rem;
		@include bp.respond-above(sm) {
			align-items: center;
			column-gap: 3rem;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin: 0;
		}
	}
	.text {
		font-size: var.$font-size-md;
		@include bp.respond-above(sm) {
			text-align: right;
		}
		&::before,
		&::after {
			font-size: var.$font-size-md;
		}
		&::before {
			content: '[';
			margin-right: 0.5rem;
		}
		&::after {
			content: ']';
			margin-left: 0.5rem;
		}
	}
}
