@use '../styles/variables' as var;

.RelatedWords {
	.words {
		column-gap: 0.3em;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		row-gap: 0.5em;
	}

	.word {
		border: 1px solid var.$gray;
		border-radius: 15px;
		cursor: pointer;
		color: var.$primary;
		font-size: var.$font-size-sm;
		padding: 2px 13px;
		transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
		&:hover {
			background-color: var.$primary;
			color: var.$white;
		}
	}
}
