@use './styles/variables' as var;

.App {
	border: 1px solid var.$gray;
	font-size: var.$font-size-sm;
	margin: 0 auto;
	max-width: 80rem;
	.test-border {
		border: 1px solid pink;
		margin: 1rem;
	}
}
